@import url(styles/header.css);
:root{
--cor-de-fundo: #5753df;
--cor-cabecalho: #FFFFFF;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

header{
    background-color: var(--cor-cabecalho);
}

.container_imagem, .container_frase{
    padding: 1em;
    }

    .container_titulo, .container_frase{
    display:inline;
    }