@import url(styles/header.css);
:root{
--cor-de-fundo: #5753df;
--cor-cabecalho: #FFFFFF;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

header{
    background-color: var(--cor-cabecalho);
}

.container{
    display: flex;
    align-items: center;
    }    

.container_imagem, .container_frase {
    padding: 2em;
    }

    .container_titulo, .container_frase {
    display:inline;
    align-items: center;
    }

.container_conteudo {
    background-color:var(--cor-cabecalho);
    text-align: center;
    border-radius: 1,5rem;
}