@import url(styles/header.css);
:root{
--cor-de-fundo: #5753df;
--cor-cabecalho: #FFFFFF;
}
body{
background-color: var(--cor-cabecalho);
margin: 0;
}

header{
    background-color: var(--cor--de-fundo);
}

.container{
    display: flex;
    align-items: center;
    }    

.container_imagem, .container_frase{
    padding: 2em;
    }

    .container_titulo, .container_frase{
    display:inline;
    align-items: center;
    }
